<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

<context-param>
  <param-name>webAppRootKey</param-name> 
  <param-value>PayMentManage.root</param-value> 
  </context-param>

  <!-- 字符过滤器 -->
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
   

	
	<!-- <filter>
	<filter-name>sessionFilter</filter-name>
		<filter-class>com.rodcell.filter.SessionFilter</filter-class>
	</filter>
	 -->
	
	
	<filter>
		<filter-name>sessionFilter</filter-name>
		<filter-class>com.rodcell.filter.SessionFilter</filter-class>
		
	</filter> 
  
  <filter-mapping>
		<filter-name>sessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	<!--  
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/config/log4j.xml</param-value>
	</context-param>
	-->
	
	
	
	<!-- 配置中心分发器 -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<description>加载/WEB-INF/spring-mvc/目录下的所有XML作为Spring MVC的配置文件</description>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:/spring/mvc*.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		
		<url-pattern>/m/*</url-pattern> 
	</servlet-mapping>
	
	<!-- <url-pattern>*.htm</url-pattern>-->
	
	  <!-- spring -->
  <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:/spring/spring*.xml</param-value>
	</context-param>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
  
	
	 <!-- SpringMVC的前端控制器 --> 

    <!-- 当DispatcherServlet载入后，它将从一个XML文件中载入Spring的应用上下文，该XML文件的名字取决于<servlet-name> --> 

    <!-- 这里DispatcherServlet将试图从一个叫做springmvc-servlet.xml的文件中载入应用上下文，其默认位于WEB-INF目录下 --> 

    <!-- 所以ContextLoaderListener参数值也可写成<param-value>classpath:applicationContext-*.xml</param-value>  

    <servlet> 
        <servlet-name>springmvc</servlet-name> 
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> 
        <load-on-startup>1</load-on-startup> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>springmvc</servlet-name> 
        <url-pattern>*.*</url-pattern> 
    </servlet-mapping> 
    -->
    
  
    
	<!--   -->
	<servlet>  
        <servlet-name>DruidStatView</servlet-name>  
        
        <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
        <!-- 
        <init-param>  
            <param-name>jmxUrl</param-name>  
            <param-value>service:jmx:rmi:///jndi/rmi://localhost:9004/jmxrmi</param-value>  
        </init-param> 
         -->   
    </servlet>  
    <servlet-mapping>  
        <servlet-name>DruidStatView</servlet-name>  
        <url-pattern>/druid/*</url-pattern>  
    </servlet-mapping> 
   
    
     
     
     
        <!-- 配置监听器 -->
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.rodcell.listener.InitDataInApplication</listener-class>
	</listener>
	
	
	
	<welcome-file-list>
    <welcome-file>login.htm</welcome-file>
  </welcome-file-list>
  
  
   <!-- 配置出错时跳转的页面 
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/page/error/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/page/error/500.jsp</location>
	</error-page>-->
</web-app>